/* participaciones */
#participamos-list .thumb {
  height: 25rem;
  background: #929493;
}

#participamos-list > .row:nth-child(odd) > div:nth-child(even) {
  background: #ADADAD;
}

#participamos-list > .row:nth-child(even) > div:nth-child(odd) {
  background: #ADADAD;
}

/* proyectos */
#proyectos-list .thumb {
  height: 22rem;
  background: #929493;
}

#proyectos-list > .row:nth-child(odd) > div:nth-child(even) {
  background: #848685;
}

#proyectos-list > .row:nth-child(even) > div:nth-child(odd) {
  background: #848685;
}

/* soluciones */
.picture-fluid {
  max-width: 100%;
  height: auto;
}

/* carousel */
#proyectos-carousel, #participamos-carousel, 
#nosotros-carousel, #soluciones-carousel {
  height: 27rem;
  background: #BCBABB;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 3.5rem;
  height: 3.5rem;
}

/* profiles */
.profile {
  text-align: center;
}

.profile h5 {
  font-size: 1em;
  margin: 0;
}

.profile h6 {
  font-size: 0.9em;
  margin: 0;
}

.profile b {
  color: #23afe1;
  font-family: kelsonBold;
  font-size: 0.7em;
  margin: 0;
}

/* elementos de articulos */
.article-head h3 {
  font-family: KelsonRegular;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 0.05rem;
  width: 75%;
}

.article-head a {
  color: #BCBABB !important;
  font-family: kelsonBold;
  font-size: 0.7em;
}

.article-head p {
  font-size: 0.8em;
}

.article-head hr {
  border-color: #aaaaaa;
}

.article-share > a:not(:last-child) {
  margin-right: 1rem
}

.article-share  a:hover {
  text-decoration: none;
  opacity:0.5;
  transition:all 0.3s ease;
}

.article-text p{
  display: block;
  margin-bottom: 1rem
}

.subtitle-nav {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.subtitle-caption {
  font-size: 0.8em;
}

.subtitle-nav .subtitle-link {
  position: absolute;
  top: 20%;
  left: 80%;
}

.subtitle-nav .subtitle-main {
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
}

.subtitle-link {
  color: #BCBABB !important;
  font-size: 0.6em;
  margin-top: 2rem;
  cursor: pointer;
}

.article-desc {
  width: 80%;
}

.bg-tag-success {
  background: #00E21F;
}

.bg-tag-warning {
  background:#F2B72F;
}

.pointer-success {
  border-right: 1.2rem solid #00E21F;
}

.pointer-warning {
  border-right: 1.2rem solid #F2B72F;
}

.pointer-wrapper {
  position: relative;
}

.pointer {
  color: #fff;
  height: 2rem;
  font-family: kelsonBold;
  border-style: none;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding-top: 0.4rem ;
  padding-bottom: 0.4rem ;
  text-align: center;
  margin-left: 1.2rem;
}

.pointer-tip {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  position: absolute;
}

/* table */
#table {
  border: solid 0.15rem #000;
  border-bottom: none;
}

.thead {
  background: #23AFE2;
  color: white;
  border-bottom: solid 0.15rem #000;
  font-family: kelsonBold;
}

.thead > div:first-child {
  border-right: solid 0.15rem #000;
  padding: 0.8em;
}

.thead > div:last-child {
  padding: 0.8em;
  border-right: none;
}

.th {
  background: #F3D707;
  padding: 0.8rem;
  font-family: kelsonBold;
  border-bottom: solid 0.15rem #000;
  border-right: solid 0.15rem #000;
  width: 100%;
}

.td {
  padding: 0.8rem;
  border-bottom: solid 0.15rem #000;
}

/* media queries */

@media (max-width: 991px){
  .article-head h3, .article-desc {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .soluciones-img {
    overflow-x: scroll;
  }

  .picture-fluid {
    max-width: initial;
    height: initial;
  }
}

@media (max-width: 575px){
  .subtitle-nav .subtitle-link {
    top: 50%;
    left: 0;
    width: 100%;
  }
  
  .subtitle-nav .subtitle-main {
    width: 100%;
    left: 50%; 
    top: 40%;
  }

  .th {
    border-right: none;
  }

  .thead {
    text-align: center
  }
  
  .thead > div:first-child {
    border-right: none;
    padding-bottom: 0em;
  }

  .thead > div:last-child {
    padding-top: 0em;
  }
}